@charset "utf-8";

html {
    font-size: 100%;
}

body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #666;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  margin: 0%;
}

#top {
  background-color: rgba(135, 146, 143, 0.4);
  color: white;
  padding: .3rem .6rem;
  font-size: 1.8rem;
  word-spacing: 0.5em;
  text-align: left;

        position: -webkit-sticky; /* Safari */
      position: -moz-sticky;
    position: sticky;
    top: 2.4rem;

      -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

 #top a {
   font-family: Arial, sans-serif;
   color: white;
   padding: 20px 10px;
   font-size: 1.8vw;
   font-weight: bold;
   position: -webkit-sticky; /* Safari */
     position: sticky;
     top: 0;
  text-align: left;

  -webkit-text-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
-moz-text-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
text-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
 }
 #top a:hover {
   color: rgb(135, 146, 143);
   text-decoration: none;
 }

 #top a.current_page {
   color: rgb(135, 146, 143);
   -webkit-text-shadow: 0 8px 12px rgba(255, 255, 255, 0.3);
 -moz-text-shadow: 0 8px 12px rgba(255, 255, 255, 0.3);
 text-shadow: 0 8px 12px rgba(255, 255, 255, 0.3);
 }


h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 2.8vw;
    margin-top: 0;
}

h2 {
    font-size: 2.2vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.8vw;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

p {
  font-size: 1.2vw;
  line-height: 1.5vw;
  text-align: justify;
}

a {
    color: rgb(97, 107, 104);
    text-decoration: none;
}
a:hover {
  color: rgb(135, 146, 143);
  text-decoration: underline;
}

/*.author a {
  color: #c60;
  font-weight: bolder;
  text-decoration: none;
}

.author a:hover {
  color: #f9f2ec;
  text-decoration: underline;
}*/

.img1, .img2, .img3, .img4 {
  opacity: 0.70;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  position: relative;
}

.img1 {
  background-image: url("./../images/baloons1.jpg");
  height: 50vw;
  background-position: center;
}

.img2 {
  background-image: url("./../images/feather1_copy.jpg");
  height: 25vw;
  background-position: bottom;
}

.img3 {
  background-image: url("./../images/dandelion_baloon.jpg");
  height: 25vw;
  background-position: top;
}
.img4 {
  background-image: url("./../images/dandelion_drops.jpg");
  height: 25vw;
  background-position: center;
}

.imgtext {
  text-align: center;
  color: #fff;
  text-shadow: 0.3vw 0.3vw 0.5vw grey;
  font-size: 2.8vw;
  position: absolute;
  top: 40%;
  bottom:50%;
  left: 10%;
  right: 10%;
}

.section {
  text-align: center;
  padding: 1em 5em 3em 5em;
  background-color: #f4f4f4;
  color: #666;
}

.section_dark {
  text-align: center;
  padding: 1em 5em 3em 5em;
  background-color: #282e34;
  color: #ddd;
}

footer {
  display: block;
  height: auto;
}

.footnote1 {
  background-color: #bcc2c0;
  color: #fff;
  padding: 1rem 2rem 0.5rem 2rem;
  text-align: left;
}
.footnote2 {
  text-align: right;
}

#pixabay {
  display: inline-block;
  width: 6.6rem;
  height: 1rem;
  background: url(../images/pixabay_green.png) no-repeat;
  background-size: 6.6rem 1rem;
}

#icon_linkedin {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url(../images/social_media/icons_linkedin.png) no-repeat;
  background-size: 3rem;
}
#icon_linkedin:hover {
  background: url(../images/social_media/icons_linkedin_blue.png) no-repeat;
  background-size: 3rem;
}
#icon_tripadvisor {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url(../images/social_media/logo_tripadvisor_black.png) no-repeat;
  background-size: 2.8rem;
}
#icon_tripadvisor:hover {
  background: url(../images/social_media/logo_tripadvisor.png) no-repeat;
  background-size: 2.8rem;
}
